
.navbar{
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-default{
  backgound: #5555dd;
}

iframe { 
  width: 100%; 
  margin: 0 0 20px 0; 
}

.button {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.75em 1.5em 0.75em 1.5em;
  display: inline-block;  
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background: #d52349;
  color: #fff !important;
  font-weight: 700;
  outline: 0;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
  -o-transition: background-color .25s ease-in-out;
  -ms-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;   
}
  .button:hover{
    background: #e53359;
    text-decoration: none;
  }
  .button:active{
    background: #c51349;
  }

.internalBG{
  background-image: url("../img/bg.png");  
  border-top: 1px #a09d9e solid;
  font-family: 'Source Sans Pro', sans-serif;  
  padding: 30px 0 30px 0;    
}

	.internalBG h2{
    font-size: 1.5em;
    background: #fff;
    background-image: url("../img/bg.png");
    position: relative;
    top: -0.65em;
    display: inline;
    margin: 0;
    padding: 0 1em 0 1em;    
  }
	.internalBG .title{
    position: relative;
		text-align: center;
		border-top: solid 1px #ccc;
		top: 1em;
    margin-bottom: 1em;
  }
.listing-Card{
		background-color: #EEF;
  	border: 1px solid #000;    
  	padding: 10px;
		margin-bottom: 2em;
    color: #000;    
  }  
	.listing-Card h4{  
    font-weight: 700;
		color: #3276B1;		
		padding-bottom: 0.3em;
		margin-bottom: 0.3em;
  }
  .listing-Card p{      
		background-color: #F7F7F7;
    margin-top: 0.5em;        		
		padding: 0.5em;
		border-radius: 2px;
		border-top: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
  }
		.listing-Card p a{      
			display:block;
			margin-top: 1em;
		}
	.listing-Card img{		
    margin-top: 0.5em;  
	}
    .listing-Card .icon{		
    margin: 0.5em;  
	}
    
    .listing-Card li{
    list-style-type: none;
    }


.Documentation{
	margin-top:5px;
	list-style:none;
	text-align:center;
}




